body {
    
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-bottom: 6px solid #A2D2FF; 
}

    .card .add-recipe {
        margin-top: 15px;
        text-align: center;
        color: #3a7bd5;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        transition: color 0.3s ease;
        margin-top: auto;
    }

        .card .add-recipe:hover {
            color: #1a4fa0;
            text-decoration: underline;
        }

